@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    /**/

@media only screen and (max-width : 880px)
  header
    .wrap_top
      .map
        width: 200px
        height: 133px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  header
    .wrap_top
      justify-content: center
      .map
        display: none
      .h1
        margin-left: 30px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  header
    .wrap_top
      .logo
        width: 55px
        min-width: 55px
        height: 50px
      .h1
        width: 200px
        height: 50px
    .topline
      display: flex
      justify-content: center
      .top_nav
        display: none
        position: absolute
        ul
          padding-top: 50px
          flex-direction: column
          li
            display: block
  .burger-wrap
    display: block
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

