@import "bourbon"
@import "vars"
@import "libs"


.sect3
  .info
    margin-top: 10px
    font-size: 18px
    margin-bottom: 10px
    text-indent: 17px
  .photo
    column-count: 2
    column-gap: 30px
    .photo-item
      margin: 25px auto auto
    .photo-item:nth-child(1)
      margin-top: 0

//PRODUCTION
.sect2
  .container
    .logos
      text-align: center
      .image
        max-width: 40%
        margin: 20px 7px
        display: inline-block
  .more
    p
      text-align: center
      text-transform: uppercase
      font-size: 25px
      font-family: ArialNarrowBold, sans-serif
      color: #1f1bcb

//ABOUT US
.sect1
  .info
    margin: 10px 0 15px 0
    font-size: 18px
    text-indent: 17px
  .photo
    margin: auto
    max-width: 420px

//CONTACTS
.sect4 .address-item
  display: flex
  flex-wrap: nowrap
  justify-content: space-around
  margin-top: 20px
  .text
    min-width: 240px
    margin-right: 40px
    margin-bottom: 15px
    &:hover
      p
        color: #024308
    p
      font-size: 20px
      line-height: 20px
  .map
    iframe
      width: 515px
      height: 265px
.links
  display: flex
  flex-direction: row
  *
    margin: auto
    font-size: 18px
    text-decoration: none
    color: #000
    &:hover
      color: #024308


//UP BUTTON
.upbutton
  font-size: 45px
  color: #000
  position: fixed
  right: 0
  margin-right: 10px
  margin-bottom: 10px
  width: 60px
  text-align: center
  bottom: 0
  .fa
    opacity: 0.8
  &:hover
    opacity: 0.7
    transition: all 0.5s ease
    background-color: #d3d3d3
    color: #ff0000

@import "media"